.root {
}

.select {
  color: #000000;
  border-bottom-color: var(--attentionColor);
  padding-right: 20px;

  & > option {
    color: #000000;
  }
  & > option:disabled {
    color: var(--matterColorAnti);
  }
}

.selectSuccess {
  color: #000000;
  border-bottom-color: var(--successColor);
}

.selectError {
  border-bottom-color: var(--failColor);
}
